<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="global">
		<param name="numberOfThreads" value="0" />
	</module>

	<module name="controler">
		<param name="firstIteration" value="0" />
<!--		<param name="lastIteration" value="1000" />-->
		<param name="lastIteration" value="10" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="test/scenarios/equil/network.xml" />
	</module>

	<module name="facilities">
		<param name="inputFacilitiesFile" value="test/scenarios/equil/facilities.xml" />
	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="0.1" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-0" />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" />
		<param name="waiting" value="-0" />
		
		<param name="activityType_0"            value="h" /> <!-- home -->
		<param name="activityPriority_0"        value="1" />
		<param name="activityTypicalDuration_0" value="16:00:00" />
		<param name="activityMinimalDuration_0" value="08:00:00" />
	
		<param name="activityType_1"            value="w" /> <!-- work -->
		<param name="activityPriority_1"        value="1" />
		<param name="activityTypicalDuration_1" value="08:00:00" />
		<param name="activityMinimalDuration_1" value="06:00:00" />
		<param name="activityOpeningTime_1"     value="07:00:00" />
		<param name="activityLatestStartTime_1" value="07:00:00" />
		<param name="activityEarliestEndTime_1" value="" />
		<param name="activityClosingTime_1"     value="24:00:00" />
	</module>

	<module name="planomat">
		<param name="jgapMaxGenerations" value="10" />
		<param name="tripStructureAnalysisLayer" value="link" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="test/input/playground/meisterk/phd/GenerateEquilPopulationsTest/testGenerateRandomCarOnly/expected_plans.xml.gz" />
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="3" /> <!-- 0 means unlimited -->
		<param name="ModuleProbability_1" value="0.9" />
		<param name="Module_1" value="SelectExpBeta" />
		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="Planomat" />
	</module>

</config>
