<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="temperature">
		<param name="temperatureChangeFile" value="temperatures.csv"/>
		<param name="delimiter" value=";"/>

	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml"/>
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml"/>
	</module>

	<module name="controler">
		<param name="outputDirectory" value="test/output/org/matsim/vsp/ev/temperature/example"/>
		<param name="eventsFileFormat" value="xml"/>
		<param name="mobsim" value="qsim"/>
		<param name="firstIteration" value="0"/>
		<param name="lastIteration" value="0"/>
		<param name="writeEventsInterval" value="10"/>
		<param name="writePlansInterval" value="10"/>
	</module>

	<module name="qsim">
		<param name="startTime" value="00:00:00"/>
		<param name="endTime" value="30:00:00"/>

		<param name="snapshotStyle" value="queue"/>
		<param name="snapshotperiod" value="00:00:01"/>
		<param name="vehicleBehavior" value="wait"/>

		<param name="removeStuckVehicles" value="true"/>
		<param name="stuckTime" value="36000"/>

		<param name="insertingWaitingVehiclesBeforeDrivingVehicles" value="true"/>

		<param name="flowCapacityFactor" value="1.00"/>
		<param name="storageCapacityFactor" value="1.00"/>
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="3"/> <!-- 0 means unlimited -->

		<parameterset type="strategysettings">
			<param name="strategyName" value="BestScore"/>
			<param name="weight" value="0.0"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ChangeExpBeta"/>
			<param name="weight" value="0.7"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ReRoute"/>
			<param name="weight" value="0.3"/>
			<param name="disableAfterIteration" value="90"/>
		</parameterset>

	</module>

	<module name="planCalcScore">

		<param name="learningRate" value="1.0"/>
		<param name="BrainExpBeta" value="1.0"/>

		<parameterset type="scoringParameters">

			<parameterset type="activityParams">
				<param name="activityType" value="home"/> <!-- home -->
				<param name="priority" value="1"/>
				<param name="typicalDuration" value="16:00:00"/>
				<param name="minimalDuration" value="undefined"/>
				<param name="openingTime" value="undefined"/>
				<param name="latestStartTime" value="undefined"/>
				<param name="earliestEndTime" value="undefined"/>
				<param name="closingTime" value="undefined"/>
				<param name="scoringThisActivityAtAll" value="true"/>
			</parameterset>

			<!-- **************************** -->

			<parameterset type="activityParams">
				<param name="activityType" value="work"/> <!-- home -->
				<param name="priority" value="1"/>
				<param name="typicalDuration" value="08:00:00"/>
				<param name="minimalDuration" value="undefined"/>
				<param name="openingTime" value="07:00:00"/>
				<param name="latestStartTime" value="undefined"/>
				<param name="earliestEndTime" value="undefined"/>
				<param name="closingTime" value="18:00:00"/>
				<param name="scoringThisActivityAtAll" value="true"/>
			</parameterset>

			<parameterset type="modeParams">
				<param name="mode" value="car"/>
			</parameterset>

			<parameterset type="modeParams">
				<param name="mode" value="pt"/>
			</parameterset>

		</parameterset>

	</module>

	<module name="global">
		<param name="coordinateSystem" value="Atlantis"/>
		<param name="numberOfThreads" value="4"/>
		<param name="randomSeed" value="1499"/>
	</module>

</config>
