<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "./dtd/config_v2.dtd">

<config>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="plans.xml" />
	</module>

	<module name="controller">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name = "snapshotFormat"	value = "otfvis,transims"/>
	</module>

	<module name="qsim">
		<param name="flowCapacityFactor" value="0.5" />
		<param name="storageCapacityFactor" value="0.5" />

		<param name = "snapshotperiod"	value = "00:01:00"/>
 	</module>

	<module name="scoring">
		<param name="learningRate" value="1.0" />
		<param name="brainExpBeta" value="2.0" />

		<parameterset type="scoringParameters">
			<param name="lateArrival" value="-18" />
			<param name="earlyDeparture" value="-0" />
			<param name="performing" value="+6" />
			<param name="waiting" value="-0" />

			<parameterset type="modeParams">
				<param name="mode" value="car"/>
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
			</parameterset>
			<parameterset type="modeParams">
				<param name="mode" value="pt"/>
			</parameterset>

			<parameterset type="activityParams">
				<param name="activityType"    value="h" />
				<param name="priority"        value="1" />
				<param name="typicalDuration" value="16:00:00" />
			</parameterset>
			<parameterset type="activityParams">
				<param name="activityType"            value="w" />
				<param name="priority"        value="1" />
				<param name="typicalDuration" value="08:00:00" />
				<param name="openingTime"     value="08:00:00" />
				<param name="latestStartTime" value="08:00:00" />
				<param name="closingTime"     value="24:00:00" />
			</parameterset>
		</parameterset>

	</module>

	<module name="replanning">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<parameterset type="strategysettings">
			<param name="strategyName" value="BestScore"/>
			<param name="weight" value="0.9"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="TimeAllocationMutator"/>
			<param name="weight" value="0.1"/>
		</parameterset>
	</module>

</config>
