.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig

# ignore output directories:
output/
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.traveldistancestatstrips.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.traveldistancestatslegs.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.traveldistancestats.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.stopwatch.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.stopwatch.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.scorestats.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.scorestats.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.pkm_modestats.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.pkm_modestats.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.ph_modestats.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.ph_modestats.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_vehicles.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_trips.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_transitVehicles.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_transitSchedule.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_plans.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_persons.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_network.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_legs.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_households.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_facilities.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_events.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_counts.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_config_reduced.xml
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_config.xml
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.output_allVehicles.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.modules.dot
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.modestats.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.modestats.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.logfileWarningsErrors.log
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/Test123.logfile.log
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.trips.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legs.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_walk.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_ride.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_pt.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_freight.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_car.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_bicycle.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram_all.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legHistogram.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.legdurations.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.2/Test123.2.events.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.trips.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.plans.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legs.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_walk.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_ride.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_pt.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_freight.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_car.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_bicycle.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram_all.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legHistogram.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.1/Test123.1.legdurations.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.trips.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.plans.xml.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legs.csv.gz
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_walk.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_ride.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_pt.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_freight.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_car.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_bicycle.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram_all.png
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legHistogram.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.legdurations.txt
scenarios/berlin-v5.5-1pct/output-berlin-v5.5-1pct/ITERS/it.0/Test123.0.events.xml.gz
contribs/vsp/src/main/java/playground/vsp/matsimToPostgres/TestRunner.java
