.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
playgrounds/jjoubert/data
**/target
/playgrounds/vaadin-example/src/main/webapp/VAADIN/themes/mytheme/addons.scss
/playgrounds/southAfrica/src/main/java/playground/southafrica/tmp/TryLinkDistance.java
/playgrounds/southAfrica/src/main/java/playground/southafrica/tmp/CheckAccessibilityConfig.java
/playgrounds/southAfrica/test/input/playground/southafrica/freight/digicore/extract/TurnkeyExtractorTest/test.csv
/playgrounds/jjoubert/src/main/java/playground/jjoubert/TemporaryCode/NetworkV2toV1.java
/playgrounds/southAfrica/data
/log_projects.log
