.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
matsim/docs/doxygen/html
matsim/src/main/java/Doxyfile

# VS Code files
.vscode

# ignore output directories:
output/
