<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
<!-- ====================================================================== -->
	<module name="accessibility" >
		<!-- if only a sample of destinations should be used (reduces accuracy  not recommended except when necessary for computational speed reasons) -->
		<param name="accessibilityDestinationSamplingRate" value="null" />
		<!-- defines type of measure for accessibility computation. -->
		<param name="accessibilityMeasureType" value="logSum" />
		<!-- method to determine the area for which the accessibility will be computed; possible values: fromNetwork fromBoundingBox fromShapeFile fromFile  -->
		<param name="areaOfAccessibilityComputation" value="fromBoundingBox" />
		<!-- custom bounding box parameters for accessibility computation (if enabled) -->
		<param name="boundingBoxBottom" value="0.0" />
		<param name="boundingBoxLeft" value="0.0" />
		<param name="boundingBoxRight" value="200.0" />
		<param name="boundingBoxTop" value="200.0" />
		<param name="cellSizeForCellBasedAccessibility" value="100" />
		<param name="extentOfAccessibilityComputationShapeFile" value="null" />
		<!-- if the accibility is computed using the `fromFile` option, the this must be the file containing the measuring points' coordinates.  -->
		<param name="measuringPointsFile" value="null" />
		<param name="outputCRS" value="null" />
		<!-- time of day at which trips for accessibility computations are assumed to start -->
		<param name="timeOfDay" value="28800.0" />
		<param name="useOpportunityWeights" value="false" />
		<param name="weightExponent" value="1.0" />
	</module>
<!-- ====================================================================== -->
	<module name="controler" >
		<param name="outputDirectory" value="output/" />
		<param name="lastIteration" value="0" />
		<param name="overwriteFiles" value="deleteDirectoryIfExists" />
	</module>
<!-- ====================================================================== -->
	<module name="facilities" >
		<param name="inputFacilitiesFile" value="facilities.xml" />
	</module>
<!-- ====================================================================== -->
	<module name="network" >
		<param name="inputNetworkFile" value="network.xml" />
	</module>
</config>