<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">

<config> 
 	<module name="controler">
		<param name="outputDirectory" value="./output" />
		<param name="writeEventsInterval" value="1" />
	</module>
	
	<module name="plans">
		<param name="inputPlansFile" value="population_1200.xml" />
	</module>

	<module name="network" >
		<param name="inputNetworkFile" value="network_normal.xml" />
	</module>

	<module name="bicycle" >
		<param name="marginalUtilityOfInfrastructure_m"  value="-0.0002" />
		<param name="marginalUtilityOfComfort_m" value="-0.0002" />
		<param name="marginalUtilityOfGradient_m_100m" value="-0.02" />
	</module>
	
	<module name="qsim">
		<param name="mainMode" value="bicycle,car" />
	</module>
	
	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" />
		
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ChangeExpBeta" />
			<param name="weight" value="0.8" />
		</parameterset>
		
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ReRoute" />
			<param name="weight" value="0.2" />
		</parameterset>
	</module>
	
	<module name="planCalcScore">		
		<parameterset type="activityParams" >
			<param name="activityType" value="home" />
			<param name="typicalDuration" value="12:00:00" />
		</parameterset>
		
		<parameterset type="activityParams" >
			<param name="activityType" value="work" />
			<param name="typicalDuration" value="8:00:00" />
		</parameterset>
		
		<parameterset type="modeParams" >
			<param name="mode" value="bicycle" />
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="-0.0004" />
			<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>
	</module>

	<module name="planscalcroute" >
		<param name="networkModes" value="bicycle,car" />
		<!-- <param name="routingRandomness" value="0.2" /> Does not seem to be interpretable yet -->
	</module>
</config>