<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<!-- ====================================================================== -->
	
	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="Atlantis" />
	</module>
	
	<!-- ====================================================================== -->

	<module name="controler">
		<param name="firstIteration" value="0" />
         <param name="lastIteration" value="1" />		
         <param name="runId" value="fr01" />
         <param name="routingAlgorithmType" value="Dijkstra" />
         <param name="mobsim" value="qsim" />
         <param name="writePlansInterval" value="1" />
	</module>
	
	<!-- ====================================================================== -->
	
	<module name="locationchoice">
		<param name="flexible_types" value="shop,leisure"/>
		<param name="algorithm" value="bestResponse" />	
		<param name="destinationSamplePercent" value="50"/>
		<param name="epsilonScaleFactors" value="1.0, 1.0"/>
		<param name="pkValuesFile" value="test/input/org/matsim/contrib/locationchoice/bestresponse/personsKValues.xml"/>
		<param name="fkValuesFile" value="test/input/org/matsim/contrib/locationchoice/bestresponse/facilitiesKValues.xml"/>
		<param name="maxDCScoreFile" value="test/input/org/matsim/contrib/locationchoice/bestresponse/personsMaxEpsUnscaled.xml"/>
		
		<param name="tt_approximationLevel" value="1" />
	</module>
	 
  <!-- ====================================================================== -->

 <module name="strategy">
          <param name="maxAgentPlanMemorySize" value="5" />

          <param name="ModuleProbability_1" value="0.9" />
          <param name="Module_1" value="BestScore" />

          <param name="ModuleProbability_2" value="0.1" />
          <param name="Module_2" value="org.matsim.contrib.locationchoice.BestReplyLocationChoicePlanStrategy" />
 </module>
 
 <!-- ====================================================================== -->

	<module name="planCalcScore" >
	
		<!--  ============================  -->
		
		<param name="activityType_0" value="work" />
		<param name="activityPriority_0" value="1.0" />
		<param name="activityTypicalDuration_0" value="08:00:00" />
		<param name="activityMinimalDuration_0" value="undefined" />
		<param name="activityOpeningTime_0" value="undefined" />
		<param name="activityLatestStartTime_0" value="undefined" />
		<param name="activityEarliestEndTime_0" value="undefined" />
		<param name="activityClosingTime_0" value="undefined" />

		<!--  ============================  -->
		
		<param name="activityType_1" value="shopping" />
		<param name="activityPriority_1" value="1.0" />
		<param name="activityTypicalDuration_1" value="08:00:00" />
		<param name="activityMinimalDuration_1" value="undefined" />
		<param name="activityOpeningTime_1" value="undefined" />
		<param name="activityLatestStartTime_1" value="undefined" />
		<param name="activityEarliestEndTime_1" value="undefined" />
		<param name="activityClosingTime_1" value="undefined" />

		<!--  ============================  -->
		
		<param name="activityType_2" value="leisure" />
		<param name="activityPriority_2" value="1.0" />
		<param name="activityTypicalDuration_2" value="08:00:00" />
		<param name="activityMinimalDuration_2" value="undefined" />
		<param name="activityOpeningTime_2" value="undefined" />
		<param name="activityLatestStartTime_2" value="undefined" />
		<param name="activityEarliestEndTime_2" value="undefined" />
		<param name="activityClosingTime_2" value="undefined" />

		<!--  ============================  -->
		
		<param name="activityType_3" value="home" />
		<param name="activityPriority_3" value="1.0" />
		<param name="activityTypicalDuration_3" value="08:00:00" />
		<param name="activityMinimalDuration_3" value="undefined" />
		<param name="activityOpeningTime_3" value="undefined" />
		<param name="activityLatestStartTime_3" value="undefined" />
		<param name="activityEarliestEndTime_3" value="undefined" />
		<param name="activityClosingTime_3" value="undefined" />

		<!--  ============================  -->
		
	</module>
 
  <!-- ====================================================================== -->
</config>
