<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd"
	[	
		<!ENTITY INBASE  "/data/matsim/switzerland/ivt/studies">
		<!ENTITY OUTBASE "/data/matsim/meisterk/output/phd-kti">
	]
>
<config>

	<!-- ====================================================================== -->

	<module name="controler">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="2" />
		<param name="routingAlgorithmType" value="AStarLandmarks" />
		<param name="outputDirectory" value="&OUTBASE;" />
		<param name="writeEventsInterval" value="10" />
	</module>

	<!-- ====================================================================== -->

	<module name="counts" >
		<param name="countsScaleFactor" value="4.88" />
		<param name="inputCountsFile" value="&INBASE;/switzerland/counts/teleatlas-ivtcheu/counts.xml" />
		<param name="outputformat" value="all" />
	</module>

	<!-- ====================================================================== -->

	<module name="facilities">
		<param name="inputFacilitiesFile" value="&INBASE;/datapuls/switzerland/facilities/ch/facilities.xml.gz" />
		<param name="outputFacilitiesFile" value="&OUTBASE;/output_facilities.xml.gz" />
	</module>

	<!-- ====================================================================== -->
	
	<module name="f2l">
	 	<param name="inputF2LFile" value="&INBASE;/datapuls/switzerland/f2l/ch2teleatlas-ivtcheu/f2l.txt" />
	 	<param name="outputF2LFile" value="&OUTBASE;/output_f2l.txt" />
	</module>

	<!-- ====================================================================== -->

	<module name="global">
		<param name="coordinateSystem" value="CH1903_LV03" />
		<param name="numberOfThreads" value="5" />
	</module>

	<!-- ====================================================================== -->

	<module name="JDEQSim">
		<!-- TODO -->
		<param name="flowCapacityFactor" value="0.2" />
		<param name="storageCapacityFactor" value="0.2" />
		<param name="squeezeTime" value="10" />
	</module>

        <!-- ====================================================================== -->

	<module name="kti">
		<param name="distanceCostCar" value="0.12" />
		<param name="distanceCostPtNoTravelCard" value="0.28" />
		<param name="distanceCostPtUnknownTravelCard" value="0.14" />
		<param name="intrazonalPtSpeed" value="4.361111" />
		<param name="usePlansCalcRouteKti" value="true" />
		<param name="pt_traveltime_matrix_filename" value="&INBASE;/switzerland/externals/ptNationalModel/2005_OEV_Befoerderungszeit.mtx" />
		<param name="pt_haltestellen_filename" value="&INBASE;/switzerland/externals/ptNationalModel/Haltestellen.txt" />
		<param name="worldInputFilename" value="&INBASE;/switzerland/world/world-natModell.xml" />
		
		<!-- TODO -->
		<param name="travelingBike" value="-16.0" />
		<param name="constBike" value="-0.48" />
		<param name="constCar" value="-0.48" />
	</module>

        <!-- ====================================================================== -->

	<module name="locationchoice">
		<!-- see http://matsim.org/node/218 -->
		<!-- according to restraintFcn* parameter values from Horni et al. (2008) -->
		<param name="restraintFcnFactor" value="0.1316872" />
		<param name="restraintFcnExp" value="5.0" />
		
		<!-- for sample runs (e.g. 10%)  -->
		<param name="scaleFactor" value="4.88" />
		
		<!-- if location choice is restraint to a certain region, e.g., Zurich scenario -->
		<param name="centerNode" value="null" />
		<param name="radius" value="null" />
		
		<!-- Restrain the choice set by space-time prisms. False makes no sense for large scenarios! -->
		<param name="constrained" value="true" />
		
		<!-- Used to define the size of the prims and the number of trials if no location is contained in a prism -->
		<!-- Not needed for the fast version of time geography -->
		<param name="recursionTravelSpeed" value="8.43333333" />
		<param name="recursionTravelSpeedChange" value="0.2" />
		<param name="maxRecursions" value="5" />
		
		<!-- Fast version of time geography. No routing is applied -->
		<param name="simple_tg" value="true" />
		
		<!-- Defines the act types for which loc choice is done. null = use the knowledge -->
		<param name="flexible_types" value="null" />
		
		<!-- Deprecated -->
		<param name="fixByActType" value="false" />
	</module>

	<!-- ====================================================================== -->

	<module name="network">
		<param name="inputNetworkFile" value="&INBASE;/datapuls/switzerland/networks/teleatlas-ivtcheu/network.xml.gz" />
		<param name="outputNetworkFile" value="&OUTBASE;/output_network.xml.gz" />
	</module>

	<!-- ====================================================================== -->

	<module name="parallelEventHandling">
		<!-- see http://matsim.org/node/238 -->
		<param name="numberOfThreads" value="4" />
	</module>

	<!-- ====================================================================== -->

	<module name="planscalcroute">
		<!-- 4.2 km/h / 3.6 -->
		<param name="walkSpeed" value="1.166667" />
		<!-- 21.0 km/h / 3.6 -->
		<param name="bikeSpeed" value="5.833333" />
	</module>

	<module name="planCalcScore">
		<param name="earlyDeparture" value="-180.0" />
		<param name="waiting" value="0.0" />
		
		<!-- TODO -->
		<param name="performing" value="2.26" />
		<param name="traveling" value="0.0" />
		<param name="travelingPt" value="-2.0" />
		<param name="travelingWalk" value="0.0" />
		<param name="marginalUtlOfDistanceCar" value="0.0" />
		<param name="marginalUtlOfDistancePt" value="-0.8" />
		<param name="marginalUtlOfDistanceWalk" value="-0.0001" />
	</module>

	<!-- ====================================================================== -->

	<module name="plans">
		<param name="inputPlansFile" value="&INBASE;/datapuls/switzerland/population/teleatlas-ivtcheu/datapuls2008_25pct/plans.xml.gz" />
		<param name="outputPlansFile" value="&OUTBASE;/output_plans.xml.gz" />
	</module>

	<!-- ====================================================================== -->

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="2" />
		<param name="ModuleProbability_1" value="0.1" />
		<param name="Module_1" value="Planomat" />
		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="ReRoute" />
		<param name="ModuleProbability_3" value="0.1" />
		<param name="Module_3" value="TimeAllocationMutator" />
		<param name="ModuleProbability_4" value="0.7" />
		<param name="Module_4" value="SelectExpBeta" />
	</module>

	<!-- ====================================================================== -->

	<module name="planomat">
		<param name="simLegInterpretation" value="CharyparEtAlCompatible" />
		<param name="jgapMaxGenerations" value="10" />
		<param name="possibleModes" value="car,pt,bike,walk" />
	</module>

	<!-- ====================================================================== -->

</config>

