<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="Atlantis" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population_7200agents.xml" />
	</module>

	<module name="controler">
		<param name="outputDirectory" value="bottleneck/" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="30" />
		<param name="mobsim" value="qsim" />
		<param name="snapshotFormat" value="" />
	</module>

	<module name="qsim">
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="00:00:00" />
	
		<param name="snapshotperiod" value="00:00:00"/>

		<param name="trafficDynamics" value="withHoles" />
		<param name="snapshotStyle" value="withHoles" />

	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18." />
		<param name="earlyDeparture" value="-0." />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" />
		<param name="waiting" value="0" />

		<param name="monetaryDistanceRate_car" value="-0.001" />
		
		<param name="activityType_0"           	value="home" />
		<param name="activityPriority_0"       	value="1" />
		<param name="activityTypicalDuration_0"	value="16:00:00" />
	
		<param name="activityType_1"            value="work" /> 
		<param name="activityPriority_1"        value="1" />
		<param name="activityTypicalDuration_1" value="08:00:00" />

		<param name="activityLatestStartTime_1" value="08:00:00" />
		<param name="activityOpeningTime_1"     value="08:00:00" />
		<param name="activityClosingTime_1"     value="20:00:00" />
	</module>
	
	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.7" />
		<param name="Module_1" value="ChangeExpBeta" />

		<param name="ModuleProbability_2" value="0.3" />
		<param name="ModuleDisableAfterIteration_2" value="25" />
		<param name="Module_2" value="TimeAllocationMutator" />
		
	</module>

	<module name="TimeAllocationMutator" >
		<param name="mutationAffectsDuration" value="true" />
		<param name="mutationRange" value="1800" />
	</module>

</config>
