<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd"
	[
		<!ENTITY STUDYBASE    "input">
	]
>
<config>

<!-- ====================================================================== -->

	<module name="facilities">
		<param name="inputFacilitiesFile" value="&STUDYBASE;/facilities.xml.gz" />
	</module>

<!-- ====================================================================== -->

	<module name="network">
		<param name="inputNetworkFile" value="&STUDYBASE;/network.xml" />
	</module>

<!-- ====================================================================== -->

	<module name="plans">
		<param name="inputPlansFile" value="&STUDYBASE;/plans.xml.gz" />
	</module>

<!-- ====================================================================== -->

</config>
