<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="gk3" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="transit">
		<param name="useTransit" value="true" />
		<param name="transitScheduleFile" value="transitschedule.xml" />
		<param name="vehiclesFile" value="transitVehicles.xml" />
		<param name="transitModes" value="pt" />
	</module>

	<module name="timeAllocationMutator">
	        <param name="mutationRange" value="7200.0"/>
	</module>

	<module name="controller">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="eventsFileFormat" value="xml" />
		<param name="writeEventsInterval" value="1" />
		<param name="writePlansInterval" value="50" />
	</module>

	<module name="qsim">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="05:00:00" />
		<param name="endTime" value="18:00:00" />
		<param name="snapshotperiod" value="00:00:00"/>
		<param name="removeStuckVehicles" value="false" />
		<param name="vehicleBehavior" value="wait" />
		<param name="flowCapacityFactor" value="1.0" />
		<param name="storageCapacityFactor" value="1.0" />
		<param name="snapshotStyle" value="queue" />
	</module>

	<module name="scoring">
		<param name="brainExpBeta" value="1.0" />

		<parameterset type="scoringParameters">
		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-18" />
		<param name="performing" value="+6" />
		<!--<param name="traveling" value="-6" />
		<param name="waiting" value="0" />
		-->
		<param name="utilityOfLineSwitch" value="-1" />

			<parameterset type="modeParams">
				<param name="mode" value="car"/>
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
			</parameterset>
			<parameterset type="modeParams">
				<param name="mode" value="pt"/>
			</parameterset>
			<parameterset type="modeParams">
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-12.0" />
				<param name="mode" value="walk"/>
				<param name="constant" value="-0.0" />
			</parameterset>

			<parameterset type="activityParams">
				<param name="activityType"    value="home" /> <!-- home -->
				<param name="priority"        value="1" />
				<param name="typicalDuration" value="18:00:00" />
			</parameterset>
		</parameterset>

	</module>

	<module name="replanning">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<parameterset type="strategysettings">
			<param name="strategyName" value="ChangeExpBeta"/>
			<param name="weight" value="0.8"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="ReRoute"/>
			<param name="weight" value="0.1"/>
		</parameterset>

		<parameterset type="strategysettings">
			<param name="strategyName" value="TimeAllocationMutator"/>
			<param name="disableAfterIteration" value="90" />
			<param name="weight" value="0.1"/>
		</parameterset>
	</module>

		<module name="transitRouter" >

		<!-- additional time the router allocates when a line switch happens, Can be interpreted as a 'savity' time that agents need to savely transfer from one line to another -->
		<param name="additionalTransferTime" value="0.0" />

		<!-- step size to increase searchRadius if no stops are found -->
		<param name="extensionRadius" value="1000.0" />

		<!-- maximum beeline distance between stops that agents could transfer to by walking -->
		<param name="maxBeelineWalkConnectionDistance" value="1500.0" />

		<!-- the radius in which stop locations are searched, given a start or target coordinate -->
		<param name="searchRadius" value="10000.0" />
	</module>


</config>
