<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "./dtd/config_v1.dtd"
	[
		<!ENTITY INPUTBASE    "./test/input/org/matsim/signalsystems/TravelTimeOneWayTest">
		<!ENTITY OUTPUTBASE   "./output/1ways">
	]
>

<config>

	<module name="network">
		<param name="inputNetworkFile" value="&INPUTBASE;/network.xml.gz" />
		<param name="outputNetworkFile" value="&OUTPUTBASE;/network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="&INPUTBASE;/plans.xml.gz" />
	</module>

	<module name="simulation">
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="00:00:00" />
    	<param name="stuckTime" value="1000" />
    	<param name="removeStuckVehicles" value="no" />
	</module>

</config>
