<?xml version="1.0" encoding="utf-8"?>

<events>
	<event time="21610" person="1" link="2" actType="" type="actend"  />
	<event time="21620" person="2" link="3" type="departure"  />
	<event time="21630" person="3" link="4" type="wait2link"  />
	<event time="21640" vehicle="4" link="5" type="left link"  />
	<event time="21650" vehicle="5" link="6" type="entered link"  />
	<event time="21660" person="6" link="7" type="arrival"  />
	<event time="21670" person="7" link="8" actType="" type="actstart"  />
	<event time="21680" person="8" link="9" type="stuckAndAbort"  />
	<event time="21690" person="9" type="personMoney" amount="-1.0" purpose="drtFare" transactionPartner="drt" reference="drt_0"  />
</events>
