<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="Atlantis" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="plans100.xml" />
	</module>

	<module name="controler">
		<param name="outputDirectory" value="./output/example" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="10" />
		<param name="mobsim" value="qsim" />
		<param name="snapshotFormat" value="" />
		
	</module>

	<module name="qsim">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="00:00:00" />
	
		<param name = "snapshotperiod"	value = "00:01:00"/> <!-- 00:00:00 means NO snapshot writing -->
		
		<param name="vehiclesSource" value="modeVehicleTypesFromVehiclesData" />
		<param name="mainMode" value="car,bicycle" />
		<param name="linkDynamics" value="PassingQ" />
		<param name="trafficDynamics" value="queue" />
		
	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-0" />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" />
		<param name="waiting" value="-0" />
		
		<parameterset type="activityParams" ><!-- home -->
			<param name="activityType" value="h" />
			<param name="minimalDuration" value="08:00:00" />
			<param name="priority" value="1.0" />
			<param name="typicalDuration" value="12:00:00" />
		</parameterset>
			
		<parameterset type="activityParams" ><!-- work -->
			<param name="activityType" value="w" />
			<param name="minimalDuration" value="06:00:00" />
			<param name="priority" value="1.0" />
			<param name="typicalDuration" value="08:00:00" />
			<param name="openingTime" value="07:00:00" />
			<param name="latestStartTime" value="09:00:00" />
			<param name="closingTime" value="18:00:00" />
		</parameterset>
	
		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
			<param name="mode" value="bicycle" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>
		
	</module>
	
	<module name="planscalcroute" >
		<param name="networkModes" value="car,bicycle" />
	</module>
	
	<module name="vehicles" >
		<param name="vehiclesFile" value="vehicles.xml" /> 
	</module>
	
	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.9" />
		<param name="Module_1" value="BestScore" />

		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="ReRoute" />
	</module>
	
	<module name="travelTimeCalculator" >
		<param name="analyzedModes" value="car,bicycle" />
		<param name="separateModes" value="true" />
	</module>		

</config>
