<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<!-- ====================================================================== -->

	<module name="kti">
		<param name="usePlansCalcRouteKti" value="true" />
		<param name="pt_traveltime_matrix_filename" value="filename1" />
		<param name="pt_haltestellen_filename" value="filename2" />
		<param name="worldInputFilename" value="filename3" />
		<param name="constBike" value="999.9" />
		<param name="constCar" value="-888.8" />
		<param name="distanceCostCar" value="0.1" />
		<param name="distanceCostPtNoTravelCard" value="-0.2" />
		<param name="distanceCostPtUnknownTravelCard" value="0.3" />
		<param name="travelingBike" value="-3.1" />
		<param name="intrazonalPtSpeed" value="3.42" />
		<param name="invalidateScores" value="true" />
	</module>

	<!-- ====================================================================== -->

</config>
