<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="scenario">
	</module>

	<module name="controler">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="eventsFileFormat" value="xml" />
		<param name="mobsim" value="qsim" />
	</module>

</config>
