<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "./dtd/config_v1.dtd">

<config>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="plans.xml" />
	</module>

	<module name="controler">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name = "snapshotFormat"	value = "otfvis,transims"/>
	</module>

	<module name="qsim">
		<param name="flowCapacityFactor" value="0.5" />
		<param name="storageCapacityFactor" value="0.5" />

		<param name = "snapshotperiod"	value = "00:01:00"/>
 	</module>

	<module name="planCalcScore">
		<param name="learningRate" value="1.0" />
		<param name="BrainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" />
		<param name="earlyDeparture" value="-0" />
		<param name="waiting" value="-0" />
		
		<param name="activityType_0"            value="h" /> 
		<param name="activityPriority_0"        value="1" />
		<param name="activityTypicalDuration_0" value="16:00:00" />
	
		<param name="activityType_1"            value="w" /> 
		<param name="activityOpeningTime_1"     value="08:00:00" />
		<param name="activityLatestStartTime_1" value="08:00:00" />
		<param name="activityTypicalDuration_1" value="08:00:00" />
		<param name="activityClosingTime_1"     value="24:00:00" />
		<param name="activityPriority_1"        value="1" />
	
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.9" />
		<param name="Module_1" value="BestScore" />

		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="TimeAllocationMutator" />
	</module>

</config>
