<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<param name="coordinateSystem" value="Atlantis" />
		<param name="numberOfThreads" value="1" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="../matsim/test/scenarios/chessboard/network.xml" />
	</module>

	<module name="facilities">
		<param name="inputFacilitiesFile" value="../matsim/test/scenarios/chessboard/facilities.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="../matsim/test/scenarios/chessboard/plans.xml" />
	</module>

	<module name="controler">
		<!-- param name="outputDirectory" value="output/Test1"  -->
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="routingAlgorithmType" value="AStarLandmarks" />
	</module>

	<module name="simulation">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="00:00:00" />
	</module>
	

	<module name="planscalcroute" >
		<param name="bikeSpeed" value="2.7777777777777777" />
		<param name="ptSpeedFactor" value="1.8" />
		<param name="walkSpeed" value="0.75" />
	</module>

	

</config>
