<style>

body {
  margin:0;
  border:0;
  padding:0;
  height:100%;
  max-height:100%;
  background:#eee;
  font-family:arial, verdana, sans-serif;
  font-size:76%;
  overflow: hidden;
  }

  #header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:80px;
    overflow:auto;
    background: rgb(79, 144, 190);
    color:#fff;
    }

  #footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
    overflow:auto;
    text-align:right;
    background:rgb(134, 180, 213);
    }

  #contents {
    position:fixed;
    top:80px;
    left:20%;
    width:80%;
    bottom:40px;
    right:0;
    overflow:auto;
    background:#fff;
    }

	
  #links {
    position:fixed;
    top:80px;
    left:20px;
    width:18%;
    bottom:40px;
    right:0;
    overflow:auto;
    background:#fff;
    }
   
   p {width:880px;}

</style>
