<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
    <module name="ev">
        <param name="auxDischargeTimeStep" value="10"/>
        <param name="chargeTimeStep" value="5"/>
        <param name="chargersFile" value="chargers.xml"/>
        <param name="timeProfiles" value="true"/>
	</module>

	<module name="vehicles">
        <param name="vehiclesFile" value="evehicles.xml"/>
    </module>

    <module name="global">
        <param name="randomSeed" value="4711"/>
        <param name="coordinateSystem" value="Atlantis"/>
    </module>

    <module name="network">
        <!-- A network with a focus on long distances-->
        <param name="inputNetworkFile" value="brandenburg-motorways.xml.gz"/>
    </module>

    <module name="plans">
        <param name="inputPlansFile" value="ev_population.xml"/>
    </module>

    <module name="controler">
        <param name="outputDirectory" value="./output/evExample"/>
        <param name="firstIteration" value="0"/>
        <param name="lastIteration" value="0"/>
        <param name="eventsFileFormat" value="xml"/>
        <param name="mobsim" value="qsim"/>
    </module>

    <module name="qsim">
        <!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
        <param name="startTime" value="00:00:00"/>
        <param name="endTime" value="24:00:00"/>
        <param name="simStarttimeInterpretation" value="onlyUseStarttime"/>


    </module>

    <module name="planCalcScore">
        <param name="learningRate" value="1.0"/>
        <param name="BrainExpBeta" value="2.0"/>

        <param name="lateArrival" value="-18"/>
        <param name="earlyDeparture" value="-0"/>
        <param name="performing" value="+6"/>
        <param name="traveling" value="-6"/>
        <param name="waiting" value="-0"/>

        <parameterset type="activityParams">
            <param name="activityType" value="h"/>
            <param name="typicalDuration" value="22:00:00"/>
            <param name="typicalDurationScoreComputation" value="relative"/>
            <param name="scoringThisActivityAtAll" value="true"/>

        </parameterset>

        <parameterset type="activityParams">
            <param name="activityType" value="car charging interaction"/>
            <param name="typicalDuration" value="01:30:00"/>
            <param name="openingTime" value="07:30:00"/>
            <param name="closingTime" value="21:30:00"/>
            <param name="typicalDurationScoreComputation" value="relative"/>
            <param name="scoringThisActivityAtAll" value="false"/>

        </parameterset>

    </module>

    <module name="strategy">
        <param name="maxAgentPlanMemorySize" value="5"/> <!-- 0 means unlimited -->

        <param name="ModuleProbability_1" value="0.7"/>
        <param name="Module_1" value="BestScore"/>

    </module>


</config>
