<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="planomat">

		<param name="populationSize" value="10" />
		<param name="legTravelTimeEstimator" value="org.matsim.planomat.costestimators.CharyparEtAlCompatibleLegTravelTimeEstimator" />
		<param name="possibleModes" value="car,pt" />
		<param name="jgapMaxGenerations" value="1000" />
		<param name="levelOfTimeResolution" value="6" />
		<param name="doLogging" value="true" />

		<!-- This parameter is just for testing purposes for the planomat config module. It is to be ignored. -->
		<param name="ignoreMe" value="0815" />

	</module>

</config>
