<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "./dtd/config_v1.dtd"
	[
		<!ENTITY INPUTBASE    "./test/input/org/matsim/signalsystems/TravelTimeFourWaysTest">
		<!ENTITY OUTPUTBASE   "./output/4ways">
	]
>

<config>

	<module name="network">
		<param name="inputNetworkFile" value="&INPUTBASE;/network.xml.gz" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="&INPUTBASE;/plans.xml.gz" />
	</module>

</config>
