<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

  <module name="controler">
  	<param name="firstIteration" value="0" />
  	<param name="lastIteration" value="50" />
    <param name="writeEventsInterval" value="50"/>
    <param name="writePlansInterval" value="50"/>
  	<param name="eventsFileFormat" value="xml" />
  	<param name="mobsim" value="qsim" />
  </module>

  <module name="dvrp">
    <param name="mode" value="taxi" />
  </module>

  <module name="taxifare">

		<!-- Basefare per Trip (fare = positive value) -->
		<param name="basefare" value="0.5" />

		<!-- Daily subscription fee (fee = positive value) -->
		<param name="dailySubscriptionFee" value="0.0" />

		<!-- taxi fare per meter (fee = positive value) -->
		<param name="distanceFare_m" value="0.0002" />

		<!-- taxi fare per hour (fee = positive value) -->
		<param name="timeFare_h" value="3.6" />
	</module>

	<module name="taxi">

		<!-- Used in AStarEuclidean for shortest path search for occupied drives.
			Values above 1.0 (typically, 1.5 to 3.0) speed up the search, but at the
			cost of obtaining longer paths -->
		<param name="AStarEuclideanOverdoFactor" value="1.0" />
		<param name="breakIfNotAllRequestsServed" value="false" />
		<param name="changeStartLinkToLastLinkInSchedule" value="true" />

		<!-- If false, the drop-off location remains unknown to the optimizer and
			scheduler until the end of pickup -->
		<param name="destinationKnown" value="false" />

		<!-- If true, detailed hourly taxi stats are dumped after each iteration. -->
		<param name="detailedStats" value="false" />

		<!-- Typically, 60 seconds -->
		<param name="dropoffDuration" value="60.0" />

		<!-- If true, vehicles are (GPS-like) monitored while moving. This helps
			in getting more accurate estimates on the time of arrival. Online tracking
			is necessary for vehicle diversion. -->
		<param name="onlineVehicleTracker" value="false" />

		<!-- Typically, 120 seconds -->
		<param name="pickupDuration" value="120.0" />

		<!-- An XML file specifying the taxi fleet. The file format according to
			dvrp_vehicles_v1.dtd -->
		<!-- To create your own vehicles, see org.matsim.contrib.av.vehicles.CreateTaxiVehicles  -->
		<param name="taxisFile" value="input/taxis.xml" />
		<!--  param name="taxisFile" value="taxis_2000.xml" /  -->

		<!-- If true, time profiles of vehicle statuses (i.e. current task type)
			and the number of unplanned requests -->
		<param name="timeProfiles" value="true" />

		<!-- If true, vehicles can be diverted during empty trips. Requires online
			tracking. -->
		<param name="vehicleDiversion" value="false" />

		<parameterset type="optimizer">
			<param name="cellSize" value="1000" />
			<param name="goal" value="DEMAND_SUPPLY_EQUIL" />
			<param name="id" value="example" />
			<param name="nearestRequestsLimit" value="99999" />
			<param name="nearestVehiclesLimit" value="99999" />
			<param name="type" value="RULE_BASED" />
		</parameterset>
	</module>

  <module name="planCalcScore">
      <parameterset type="activityParams">
          <param name="activityType" value="Home"/>
          <param name="typicalDuration" value="12:00:00"/>
      </parameterset>
      <parameterset type="activityParams">
          <param name="activityType" value="Other"/>
          <param name="typicalDuration" value="02:00:00"/>
      </parameterset>
      <parameterset type="activityParams">
          <param name="activityType" value="Work"/>
          <param name="typicalDuration" value="08:00:00"/>
      </parameterset>

      <!-- Mode Choice Utility Parameters -->
      <parameterset type="modeParams" >
          <param name="mode" value="car" />
          <param name="constant" value="-0.1" />
          <param name="marginalUtilityOfDistance_util_m" value="0.0" />
          <param name="marginalUtilityOfTraveling_util_hr" value="-10" />
          <param name="monetaryDistanceRate" value="0.0" />
      </parameterset>

      <parameterset type="modeParams" >
          <param name="mode" value="taxi" />
          <param name="constant" value="-0.1" />
          <param name="marginalUtilityOfDistance_util_m" value="0.0" />
          <param name="marginalUtilityOfTraveling_util_hr" value="-10" />
          <param name="monetaryDistanceRate" value="0.0" />
      </parameterset>

      <parameterset type="modeParams" >
          <param name="mode" value="pt" />
          <param name="constant" value="-6" />
          <param name="marginalUtilityOfDistance_util_m" value="0.0" />
          <param name="marginalUtilityOfTraveling_util_hr" value="-0.5" />
          <param name="monetaryDistanceRate" value="0.0" />
      </parameterset>

  </module>

  <module name= "qsim" >
      <param name= "usePersonIdForMissingVehicleId" value="true" />
      <param name= "vehiclesSource" value="fromVehiclesData" />
      <param name= "vehicleBehavior" value= "wait" />
  </module>


  <module name="changeMode" >
      <param name="ignoreCarAvailability" value="" />
      <param name="modes" value="car,pt" />
  </module>

  <module name="subtourModeChoice" >
	<!-- Defines the chain-based modes, seperated by commas -->
	<param name="chainBasedModes" value="car" />

	<!-- Defines whether car availability must be considered or not. A agent
    has no car only if it has no license, or never access to a car -->
	<param name="considerCarAvailability" value="true" />

	<!-- Defines all the modes available, including chain-based modes, seperated by commas -->
	<param name="modes" value="car,pt" />
  </module>

  <module name="planscalcroute" >
      <!-- All the modes for which the router is supposed to generate network routes (like car) -->
      <param name="networkModes" value="car" />
      <!-- <param name="networkModes" value="taxi" /> -->

      <parameterset type="teleportedModeParameters" >
          <param name="mode" value="pt" />
          <!-- Speed for a teleported mode.
            Travel time = (<beeline distance> * beelineDistanceFactor) / teleportedModeSpeed.
            Insert a line like this for every such mode. -->
          <param name="beelineDistanceFactor" value="1.3" />
          <param name="teleportedModeSpeed" value="6.944" />
          <!-- 25 km/hr -->

      </parameterset>
  </module>



  <module name="global">
      <param name="coordinateSystem" value="EPSG:32617"/>
      <param name="numberOfThreads" value="12"/>
  </module>
  <module name="TimeAllocationMutator" >
    <param name="mutationAffectsDuration" value="true" />

    <!-- Default:1800.0 (30 min); Defines how many seconds a time mutation can maximally shift a time. -->
    <param name="mutationRange" value="900.0" />
  </module>

  <module name="strategy">
    <param name="fractionOfIterationsToDisableInnovation" value="0.8" />
    <param name="maxAgentPlanMemorySize" value="5" />
    <parameterset type="strategysettings" >
      <param name="strategyName" value="ChangeExpBeta" />
      <param name="weight" value="0.7" />
    </parameterset>
    <parameterset type="strategysettings" >
      <param name="strategyName" value="TimeAllocationMutator" />
      <param name="weight" value="0.1" />
    </parameterset>
    <parameterset type="strategysettings" >
      <param name="strategyName" value="ReRoute" />
      <param name="weight" value="0.4" />
    </parameterset>
  </module>
</config>
