<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="4711" />
		<!--<param name="coordinateSystem" value="Atlantis" />-->
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="transit">
		<param name="useTransit" value="true" />
		<param name="transitScheduleFile" value="transitschedule.xml" />
		<param name="vehiclesFile" value="transitVehicles.xml" />
		<param name="transitModes" value="pt" />
	</module>

	<module name="TimeAllocationMutator">
	        <param name="mutationRange" value="7200.0"/>
	</module>

	<module name="controler">
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="eventsFileFormat" value="xml" />
		<param name="writeEventsInterval" value="1" />
		<param name="writePlansInterval" value="50" />
	</module>

	<module name="qsim">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="05:00:00" />
		<param name="simStarttimeInterpretation" value="onlyUseStarttime" />
		<!--<param name="endTime" value="18:00:00" />-->
		<!--<param name="snapshotperiod" value="00:00:00"/> -->
		<param name="removeStuckVehicles" value="false" />
		<!--<param name="vehicleBehavior" value="wait" />-->
		<!--<param name="flowCapacityFactor" value="1.0" />-->
		<!--<param name="storageCapacityFactor" value="1.0" />-->
		<param name="snapshotStyle" value="queue" />
	</module>

	<module name="planCalcScore">
		<param name="BrainExpBeta" value="1.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-18" />
		<param name="performing" value="+6" />
		<param name="traveling" value="-6" /><!--
		<param name="waiting" value="0" />
		--><param name="constantWalk" value="-0" />
		<param name="marginalUtlOfDistanceWalk" value="0" />
		<param name="utilityOfLineSwitch" value="-1" />
		<param name="travelingWalk" value="-12" />
		<param name="activityType_0"            value="home" /> <!-- home -->
		<param name="activityPriority_0"        value="1" />
		<param name="activityTypicalDuration_0" value="18:00:00" />
	</module>
	
	<module name="strategy">
	<!--	<param name="maxAgentPlanMemorySize" value="5" /> -->

		<param name="ModuleProbability_1" value="0.8" />
		<param name="Module_1" value="ChangeExpBeta" />

	<!--	<param name="ModuleProbability_2" value="0.1" />-->
	<!--	<param name="Module_2" value="ReRoute" />-->
	<!--	<param name="ModuleDisableAfterIteration_3" value="90" />-->
	<!--	<param name="ModuleProbability_3" value="0.1" />-->
	<!--	<param name="Module_3" value="TransitTimeAllocationMutator" />-->
	<!--	<param name="ModuleDisableAfterIteration_4" value="10" />-->
	<!--	<param name="ModuleProbability_4" value="0.9" />-->
	<!--	<param name="Module_4" value="TransitTimeAllocationMutator" />-->

	</module>

		<!--<module name="transitRouter" >-->

		<!-- additional time the router allocates when a line switch happens, Can be interpreted as a 'savity' time that agents need to savely transfer from one line to another -->
		<!--<param name="additionalTransferTime" value="0.0" />-->

		<!-- step size to increase searchRadius if no stops are found -->
		<!--<param name="extensionRadius" value="10000.0" />-->

		<!-- maximum beeline distance between stops that agents could transfer to by walking -->
		<!--<param name="maxBeelineWalkConnectionDistance" value="1500.0" />-->

		<!-- the radius in which stop locations are searched, given a start or target coordinate -->
		<!--<param name="searchRadius" value="10000.0" />-->
	<!--</module>-->
	

</config>
