<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">
<config>

	<module name="global">
		<param name="coordinateSystem" value="Atlantis" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="facilities">
		<param name="inputFacilitiesFile" value="facilities.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="plans.xml" />
	</module>

</config>
