# Eclipse
.classpath
.project

# Netbeans
nbactions.xml

# IntelliJ
*.ipr
*.iws
*.iml
.idea/

*/test/output
*/output
bin
.settings
bin
target
matsim4urbansim/.gitignore
matsim4urbansim/test/.gitignore

# contribs test output

accessibility/test/output/

signals/output
signals/**/output
signals/**/*.aux
signals/**/*.log
signals/**/*.toc
signals/**/*.out
signals/**/*.bbl
signals/**/*.blg
signals/**/*.bak

noise/nullaverage_damages_link/*.csv*
noise/nullaverage_damages_link_car/*.csv*
noise/nullaverage_damages_link_hgv/*.csv*
noise/nulldamages_receiverPoint/*.csv*

atap/exact-replanning.log

discrete_mode_choice/test_determinism/*

application/test/input/org/matsim/application/analysis/population/TripAnalysisTest/defaultParametersTest/persons.csv
application/test/input/org/matsim/application/analysis/population/TripAnalysisTest/defaultParametersTest/trips.csv
application/test/input/org/matsim/application/analysis/population/TripAnalysisTest/personFilterTest/persons.csv
application/test/input/org/matsim/application/analysis/population/TripAnalysisTest/personFilterTest/trips.csv
application/mode_chains.csv
application/mode_share_per_purpose.csv
application/status.md
application/warnings.csv
