# Eclipse
.classpath
.project

# Netbeans
nbactions.xml

# IntelliJ
*.ipr
*.iws
*.iml
.idea/

*/test/output
bin
.settings
bin
target
accessibility/test/output/
matsim4urbansim/.gitignore
matsim4urbansim/test/.gitignore
#
#contrib/signals
signals/output
signals/**/output
signals/**/*.aux
signals/**/*.log
signals/**/*.toc
signals/**/*.out
signals/**/*.bbl
signals/**/*.blg
signals/**/*.bak

