<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %5p %C{1}:%L %m%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
			</Filters>
		</Console>
		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{ISO8601} %5p %C{1}:%L %m%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" />
			</Filters>
		</Console>
	</Appenders>

	<Loggers>
		<!--
		Here we set the log level from an environment variable called LOG_LEVEL, or defaults
		to 'info' if not set.
		You can set this locally by putting this into your ~/.bash_profile:
		# macOS
		export LOG_LEVEL='debug|info|warn';
		# linux
		set LOG_LEVEL='debug|info|warn';
		-->
		<Root level="${env:LOG_LEVEL:-info}">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
		</Root>
	</Loggers>

</Configuration>
