name: deploy-on-pr-merge

on:
  push: # snapshot deployment
    branches:
      - master
  pull_request_target: # pr-labelled deployment
    branches:
      - master
    types:
      - closed

jobs:
  deploy-snapshot:
    name: deploy snapshot/PR-labelled version
    # for PR-labelled deployment -- only if closed by merging
    if: github.event_name == 'push' || github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v3

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
          server-id: ${{ github.event_name == 'push' && 'matsim-snapshots' || 'matsim-releases' }} #choose mvn repo
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Set MATSim version (if PR-labelled version)
        if: github.event_name == 'pull_request_target'
        run: mvn versions:set --batch-mode -DnewVersion=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/SNAPSHOT//')PR${{ github.event.pull_request.number }} -DgenerateBackupPoms=false

      # Build and publish are separated so we start deploying only after all jars are built successfully
      - name: Build jars
        run: mvn package --batch-mode -DskipTests

      - name: Publish jars to matsim maven repo
        # fail at end to deploy as many jars as possible
        run: mvn deploy --batch-mode --fail-at-end -DskipTests -Dmaven.resources.skip=true -Dmaven.install.skip=true
        env:
          MAVEN_USERNAME: ${{ secrets.REPOMATSIM_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.REPOMATSIM_TOKEN }}

    env:
      MAVEN_OPTS: -Xmx2g
